@import url('main.css');

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.button-option,
.select-option {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 10px;
    border-radius: 15px;
}

button:hover {
    background-color: #FDFDFD;
    border: var(--fill-color) 2px solid;
}
